@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body{
    height: max-content;
}
main{
    height: max-content;
}
.order-view{
    width: 100%;
    height: 600px;
    background-color: #f1f6f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-view h1{
    margin-top: 170px;
    margin-left: -100px;
    font-size: 50px;
    color: #222222;
    font-family: 'Oswald', sans-serif;
}
.order-view span{
    margin-left: -100px;
    font-size: 20px;
    color: #636464;
}
.received-order{
    margin-top: 180px;
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.received-order > .order-message{
    color: #384aeb;
    font-size: 28px;
    align-self: center;
}
.order-tab{
    display: flex;
    width: 100%;
    height: max-content;
    margin-top: 40px;
    justify-content: space-between;
}
.Order-Info{
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 300px;
    background-color: #f1f6f7;
    padding: 50px 60px;
}
.Order-Info > h2{
    font-family: 'Oswald', sans-serif;
    color: #222222;
    margin-bottom: 20px;
}
.Order-Info > span{
    font-size: 20px;
    color: #636464;
    margin-bottom: 10px;
}
.Order-Info > span > small{
    color: #222222;
    margin-left: 50px;
    font-size: 20px;
}
.Order-details{
    margin-top:100px;
    align-self:center;
    width:80%;
    height:600px;
    background-color:#e5ecee;
    padding: 30px;
}
.Order-details > h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    padding-bottom: 40px;
    border-bottom: 1px solid #63646427;
}
.product-details{
    width: 100%;
    display: flex;
    margin-top: 20px;
    height: 74%;
    position: relative;
    border-bottom:  1px solid #63646427;
}
.product-details::before{
    content: '';
    width: 100%;
    position: absolute;
    top: 15%;
    height: 2px;
    border-bottom: 1px solid #63646427;

}
.product,.Quantity,.total{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.product > h4,.Quantity > h4,.total > h4{
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;

}
.Quantity > span{
    color: black;
}
.product > span,.Quantity > span,.total > span{
    font-size: 20px;
    margin-bottom: 40px;
    color: #636464;
}
.Quantity > span{
    color: black;
}
.product > span:nth-child(5), .product > span:nth-child(6){
    color: black;
}
.total-cost{
    width: 73%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;

}
footer{
    margin-top: 200px;
}
.footer{
    height: 600px;
}
@media screen and (max-width:430px){
    .order-view{
        height: 300px;
    }
    .order-view h1{
        margin-top: 85px;
        margin-left: 0px;
        font-size: 36px;
    }
    .order-view span{
        margin-left: 0px;
        font-size: 18px;
    }
    .received-order{
        margin-top: 90px;
        width: 90%;
    }
    .received-order > .order-message{
        font-size: 20px;
    }
    .order-tab{
        margin-top: 20px;
        flex-wrap: wrap;
    }
    .Order-Info{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
        padding: 10px 10px;
        margin-bottom: 5px;
    }
    .Order-details{
        margin-top:50px;
        width:90%;
        height:max-content;
        padding: 10px;
    }
    .Order-details > h2{
        padding-bottom: 20px;
    }
    .product-details{
        margin-top:10px;
        height: max-content;
    }
    .product-details::before{
        top: 11%;
    }
    .Quantity{
        height: 260px;
    }
    .product, .Quantity, .total{
        display: flex;
        justify-content: space-between;
    }
    .product > h4,.Quantity > h4,.total > h4{
        margin-top: 10px;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .product > span,.Quantity > span,.total > span{
        font-size: 15px;
        margin-bottom: 20px;
        color: #636464;
    }
    .total span{
        margin-top: 20px;
    }
    .Quantity > span{
        color: black;
    }
    .product > span:nth-child(5), .product > span:nth-child(6){
        color: black;
    }
    .total-cost{
        width: 73%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    
    }
    footer{
        margin-top: 100px;
    }
    .footer{
        height: 750px;
    }
    .footer-details{
        margin-top: 0px;
    }
}