/* @media (min-width: 768px) and (max-width: 1024px){
    nav{
        width: 100%;
        height:max-content;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: 0px 5px 20px #384aeb2d ;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: white;
    }
    .navleft{
        width: 25%;
        height: 70px;
        border: 1px solid red;
    }
} */