@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body{
    height:max-content;
}
main{
    height:max-content;
}
.checkout-view{
    width: 100%;
    height: 600px;
    background-color: #f1f6f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.checkout-view h1{
    margin-top: 170px;
    margin-left: -100px;
    font-size: 50px;
    color: #222222;
    font-family: 'Oswald', sans-serif;
}
.checkout-view span{
    margin-left: -100px;
    font-size: 20px;
    color: #636464;
}
.Returning-Customer{
    width: 80%;
    align-self: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.Returning-Customer > span{
    width: 100%;
    background-color: #f1f6f7;
    padding: 20px;
    padding-left: 30px;
    font-family: "Roboto",sans-serif;
    font-size: 22px;
}
.Returning-Customer > span a{
    color: #384aeb;
    margin-left: 10px;
    font-family: "Roboto",sans-serif;
}
.Returning-Customer > p{
    width: 96%;
    margin-top: 20px;
    font-size: 20px;
    color: #636464;
    align-self: center;
}
.Returning-Customer > form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 96%;
    align-self: center;
    gap: 30px;
}
.Returning-Customer > form input[type="password"], form input[type="text"]{
    width: 30%;
    font-size: 24px;
    padding-left: 20px;
    color: #636464;
    border-radius: 4px;
    margin-right: 30px;
    border: 1px solid #63646444;
    height: 50px;
}
.Returning-Customer > form input[type="submit"]{
    width: 11%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #384aeb;
    font-size: 24px;
    background-color: #384aeb;
    color: white;
    font-weight: 600;
    transition: background-color 0.3s ease-in;
    margin-right: 20px;
}
.Returning-Customer > form input[type="submit"]:hover{

    background-color: transparent;
    color: black;
}
.Returning-Customer > form label{
    color: #636464;
    font-size: 18px;

}

.Returning-Customer > form a{
    text-decoration: none;
    color: #636464;
    font-size: 22px;
}


.coupon-details{
    width: 80%;
    align-self: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.coupon-details > span{
    width: 100%;
    background-color: #f1f6f7;
    padding: 20px;
    padding-left: 30px;
    font-family: "Roboto",sans-serif;
    font-size: 22px;
}
.coupon-details > span a{
    color: #384aeb;
    margin-left: 10px;
    font-family: "Roboto",sans-serif;
}
.coupon-details > form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 96%;
    align-self: center;
}
.coupon-details > form input[type='text']{
    width: 63%;
    height: 50px;
    border-radius: 4px;
    font-size: 24px;
    padding-left: 20px;
    color: #636464;
    border: 1px solid #63646444;
    margin-bottom: 30px;
}
.coupon-details > form input[type='submit']{
    width: 20%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #384aeb;
    font-size: 24px;
    background-color: #384aeb;
    color: white;
    font-weight: 600;
    transition: background-color 0.3s ease-in;
}
.coupon-details > form input[type='submit']:hover{
    color: black;
    background-color: transparent;
}
.billing-shipping{
    display: flex;
    width: 80%;
    align-self: center;
    justify-content: space-between;
    margin-top: 100px;
}
.billing_shipping-details{
    display: flex;
    flex-direction: column;
    width: 63%;
    height: max-content;
}
.billing-details{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.billing-details h1{
    padding-bottom: 10px;
    border-bottom: 1px solid #63646438 ;
    font-family: 'Oswald', sans-serif;
}
.billing-details input[type='text']{
    width: 100%;
    margin-top: 20px;
    padding-left: 20px;
    outline: none;
}
.billing-details label{
    font-size: 20px;
    color: #636464;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.billing-details label input[type='checkbox']{
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
.billing-details input[type='text']:focus{
    box-shadow: 0px 0px 5px rgba(0, 255, 255, 0.904),
            0px 0px 5px rgba(0, 255, 255, 0.712),
            0px 0px 5px rgba(0, 255, 255, 0.404);
}
.billing-details select{
    height: 50px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #63646438;
    font-size: 22px;
    color: #636464;
    outline: none;
    padding-left: 20px;
}
.billing-details_formDiv{
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;

}
.billing-details_formDiv input[type='text']{
    width: 48%;
    margin-right: 0px;
}
.Shipping-details{
    margin-top: 40px;
    display: flex;
    flex-direction: column;

}
.Shipping-details h1{
    padding-bottom: 10px;
    border-bottom: 1px solid #63646438 ;
    font-family: 'Oswald', sans-serif;
}
.Shipping-details label{
    color: #636464;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.Shipping-details label input[type='checkbox']{
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
.Shipping-details textarea{
    margin-top: 20px;
}
.your-order{
    width: 35%;
    height: 1100px;
    padding: 30px;
    background-color: #f1f6f7;
}
.your-order > h1{
    padding-bottom:20px;
    font-family: 'Oswald', sans-serif;
    border-bottom:1px solid rgba(128, 128, 128, 0.445);
}
.order-histroy{
    display: flex;
    width: 100%;
    height: max-content;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    margin-top: 20px;
}
.order-histroy span{
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-bottom: 20px;

 
}
.order-histroy span:nth-child(2){
    margin-top: 60px;
    align-items: center;
}
.order-histroy span:nth-child(3){
    align-items: flex-end;
}
.order-histroy span small{
    font-size: 24px;
    margin-bottom: 30px;
}
.your-order form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.your-order form div{
    display: flex;
    flex-direction: column;
}
.your-order form div > span{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.your-order form div > span input{
    width: 20px;
    height:20px;
    font-size: 10px;
} 
.your-order form div > span label{
    font-size: 22px;
    cursor: pointer;
}
.payment-details{
    width: 90%;
    padding: 30px;
    background-color: white;
    font-size: 18px;
}
.your-order input[type='submit']{
    width: 80%;
    margin-top: 20px;
    align-self: center;
    height: 50px;
    border-radius: 50px;
    font-size: 24px;
    color: white;
    background-color: #384aeb;
    border: 1px solid #384aeb;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.your-order input[type='submit']:hover{
    background-color: transparent;
    color: black;
}
footer{
    margin-top: 200px;
}
.footer{
    height: 600px;
}